<div class="container hero">
  <div class="hero-text">
    <h1 class="title">Jeet Shannigrahi</h1>
    <p class="subtitle">
  Graduate Student in Physics · The University of British Columbia,<br>
  Vancouver, Canada
</p>
    <p class="tagline">Condensed Matter Theory · Quantum Many-Body Physics</p>
    <div class="links">
      <a href="https://orcid.org/0009-0004-2474-2030" target="_blank" rel="noopener">ORCID</a><span>·</span>
      <a href="https://scholar.google.com/citations?user=u_q_Vi0AAAAJ&hl=en&inst=17001591832933267808" target="_blank" rel="noopener">Google Scholar</a><span>·</span>
      <a href="https://www.linkedin.com/in/jeet-shannigrahi-89052b216/" target="_blank" rel="noopener">LinkedIn</a><span>·</span>
      <a href="https://github.com/JeetShannigrahi21" target="_blank" rel="noopener">GitHub</a>
    </div>
  </div>
  <div class="hero-media">
    <img src="{{ '/assets/images/headshot.jpg' | relative_url }}" alt="Profile photo" class="profile-pic">
  </div>
</div>


